<div class="container-fluid mb-5">
    <div class="row m-0 table-responsive panel">
    <table class="table gr table-bordered table-hover table-condensed table-striped">
        <thead class="panel-head">
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Status</th>
                <th>Amount</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody class="panel-body" [formGroup]="listForm">
            <tr *ngFor="let item of invoiceList">
                <td>
                   {{ item.id }}     
                </td>
                <td>
                    <div>{{ item.date | date: 'dd/MM/yyyy'}}</div>
                </td>
                <td>
                    {{ item.status }}
                </td>

                <td title= "{{ item.amount }}">
                    <ng-container *ngIf="enableEdit">                                      
                        <div class="input-group">
                            <input type="text" class="form-control gr-input validate" 
                                >
                        </div>
                    </ng-container>
                    <ng-template #amount>
                        {{ item.amount  }}
                       
                    </ng-template>
                </td>

                <td>       
                    <button *ngIf="enableEdit"  (click)="enableEdit=false" class="btn btn-sm bg-danger" tooltip="X">
                        <i class="fas fa-times"></i>
                    </button>
                    <button *ngIf="enableEdit" class="btn btn-sm bg-success" style="margin: 1px;" tooltip="save"> 
                        <i class="fas fa-check"></i>
                    </button>
                    <button *ngIf="!enableEdit" (click)="enableEdit=true" class="btn btn-sm gr-btn warn"  placement="left" tooltip="edit"> 
                        <i class="fas fa-edit fa-2x"></i>
                    </button>                                
                </td> 
            </tr>
            
           
        </tbody>
    </table>
    </div>
</div>