
  table {
    background: white;
  }

  tr {
    cursor: pointer;
  }

  td {
    padding: 5px;
    text-align: center !important;
    vertical-align: middle !important;
    font-size: 0.9rem;
  }

  
  

